<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bem Vindo</h1>
        <p class="lead">Painel com perguntas e respostas</p>
        <hr class="my-4">
        <p>Pode se utilizar desse local para compartilha suas perguntas e respostas.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
    </div>
    <hr>
    <% articles.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/<%= article.slug %>">Ler</a>
            </div>
        </div>
    <% }) %>
</div>

<%- include ('partials/footer.ejs') %>
